<tool name="Compare">  <version>4.2.2</version>  <date>2018-11-24</date>  <container>#._Compare</container>  <needs>    <script library="APLTree">CompareSimple</script>    <script library="APLTree">APLTreeUtils</script>    <script library="APLTree">Execute</script>    <script library="APLTree">Logger</script>    <script library="APLTree">FilesAndDirs</script>    <script library="APLTree">OS</script>    <script library="APLTree">WinReg</script>    <script library="APLTree">WinSys</script>    <script library="APLTree">Tester</script>  </needs>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>3</buildid></tool>